* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel__image {
    width: 900px;
    height: 400px;
    object-fit: cover;
}

.container {
    margin: 100px auto;
    max-width: 900px;
}

.carousel {
    position: relative;
}

#carousel-container {
    position: relative;
}

.carousel__title,
.carousel__text {
    position: absolute;
    z-index: 1;
    color: white;
 }

 .carousel__title {
    bottom: 80px;
    right: 20px;
    font-weight: bold;
    font-size: 25px;
 }

 .carousel__text {
    top: 330px;
    font-size: 18px;
    right: 20px;
    text-align: right;
    left: 100px;
 }

 .button {
    position: absolute;   
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-size: 25px;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(20, 20, 20, 0.5);
}

.button-left,
.button-right {
    top: 50%;
    transform: translate(0,-50%);
    color: white;
}

.button-left {
    left: 10px;
}

.button-right {
    right: 10px;
}

.invisible {
    display: none;
}

.active {
    display: inline-block;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.container-button {
    display: flex;
    justify-content: space-between;
}

.autoscroll-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(20, 20, 20, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.autoscroll-btn:hover {
    background-color: black;
}